.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 18px;
    --search-btn-width: 52px;


    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
}

.search-result, .search{
    width: 361px;
}

.search {
    display: flex;
    position: relative;

    height: var(--search-height);
    border-radius: var(--search-border-radius);
    padding-left: 16px;
    padding-top: 0;
    padding-bottom: 0;
    background: rgba(22, 24, 35, 0.06);
    border: 1.5px solid transparent;

    input{
        flex: 1;
        color: var(--black-color-text);
        height: 100%;
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 1.6rem;
        padding: 12px 0;
        caret-color: var(--primary);
    }
    input:not(:placeholder-shown) ~ .search-btn{
        color:  rgba(22, 24, 35, 0.75);
    }

    &::after{
        content: "";
        position: absolute;
        height: calc(var(--search-height) - var(--search-top-spacer));
        top: calc(var(--search-top-spacer)/2);
        right: 52px;
        width: 1px;
        background-color: rgba(22, 24, 35, 0.12);
    }
    &:focus-within{
        border: 1.5px solid rgba(22, 24, 35, 0.2);
    }

}


.clear,
.loading {
    position: absolute;
    right: calc(var(--search-btn-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
}

.search-result{
    .search-title{
        padding: 5px 12px;
        font-size: 1.4rem;
        color: rgba(22, 24, 35, 0.5);
    }

}


.search-btn {
    width: 52px;
    height: 100%;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 1.8rem;
    &:hover{
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.03);
    }
    &:active{
        background-color: rgba(22, 24, 35, 0.06);
    }
}
.more-btn{
    font-size: 2rem;
    margin-left: 28px;
    padding: 8px;
    background: transparent;
}



.action {
}

